/* 顶部 */
.top{
    height: 25px;
    background-color: #444;
    font-size: 12px;
    line-height: 25px;
    color: #aaa;
}
/* 右边的超链接 */
.top  span{
  float: right;
  margin-right: 13px;
}
.top  span a{
    float: left;
    color: #aaa; 
    margin-left: 22px;
}
.top  span a:hover{
    color: #fff;
}
/*------------ logo和导航区域-------*/
.logo-nav{
    background-color: #ffffff;
}
.logo-nav div{
    height: 75px;
    /* background-color: yellow; */
}
/* logo */
.logo-nav .logo{
   float: left;
}
/* 导航 */
.logo-nav .nav{
    float: right;
    line-height: 75px;
    margin-right: 26px;
}
.logo-nav .nav a{
    float: left;
    color: #666;
    font-size: 18px;
    margin-left: 38px;
}
.logo-nav .nav a:hover{
    color: #00a7ea;
}
/*---------- 横幅--------- */
.banner{
    height: 185px;
    color: #fff;
    /* 从css文件所在位置出发去找图片 */
    background-image: url(../images/banner.jpg);    
    padding-top: 66px;
    box-sizing: border-box;
    text-indent: 310px;
}
.banner h1{
    font-size: 30px;
}
.banner p{
    font-size: 14px;
}
/*-------- 主体区域 ---------*/
.main{
   /* height: 300px; */
   background-color: #f60;
}
/* 左边的列表 */
.main .main-left{
    float: left;
    width:853px ;
    /* height: 600px; */
    background-color: green;
}
/* 每一项 */
.main-left .item{
    width: 853px;
	height: 198px;
	background-color: #ffffff;
    border: solid 1px #eaeaea;
    box-sizing: border-box;
    padding: 16px;
}
.item  .img-link{
   float: left;
   margin-right: 15px;
}
.item img{
    width: 205px;
	height: 166px;
}
.item .title a{
    font-size: 18px;
    color: #444;
}
.item p{
   color: #666;
   font-size: 14px;
}
/* -----精灵图----- */
.item span{

    background-image: url(../images/icon.png);
    padding-left: 20px;
}
.date {
    background-position: 0px 4px;
}
.good {
    background-position: 0px -13px;  
}
.readcount {
    background-position:4px -47px;
}
.msg {
    background-position: 4px -30px;
}

/* 右边的侧边栏 */
.main .main-right{
    float: right;
    width:332px ;
    height: 600px;
    background-color: green;
}
/*---------- 友情链接--------------- */
.links{
    height: 52px;
    background-color: #00f;
}
/*----------页尾----------*/
.footer{
   height: 110px;
   background-color: #fff;
}

body{
  background-color: #f2f2f2;
}