@charset "utf-8";
.content{
    min-width: 1200px;
    height: 100%;
}
.content .con-left{
   position: relative;
   width: 60%;
   height: 100%;
   background-color: #1ca8ef;
}
.content .con-right{
    position: relative;
    width: 40%;
    height: 100%;
    /* background-color: pink; */
}

.content .con-left a{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -250px;
}